*.pyc
*.mo
/.project
/.pydevproject
/.settings/
/.mr.developer.cfg
/var/
/bin/
/devsrc/
/eggs/
/include/
/lib/
/local/
/parts/
/.installed.cfg
/develop-eggs/
/src/bda.plone.ticketshop.egg-info/
/coverage/
/report/
/env/
/pip-selfcheck.json
